@import url("common.css");

section {
    min-height: 100vh;
}

p {
    line-height: 1.5em;
}

a, input {
    display: inline-block;
    min-width: 48px;
    min-height: 48px;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    background-color: black;
}

.nav-list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.logo {
    margin-left: 42px;
    margin-right: auto;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list a:focus, .nav-list a:hover {
    background-color:  rgb(114, 0, 0);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(95, 0, 0) url("images/bg-intro-violin.jpg") center/cover no-repeat;
}

.intro > div {
    color: white;
    background-color: rgba(51, 51, 51, 0.712);
    padding: 2em;
}

.intro h1 {
    font-family:  'Goudy Old Style', 'Times New Roman', times, serif;
    font-style: italic;
    margin-bottom: 1em;
    font-size: 2.5rem;
    text-align: center;
}

.form-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

input {
    padding: 5px;
    border: none;
    margin: 0 .25em 1em .25em;
    outline: none;
    border-radius: 3px;
    font-size: 1rem;
}

input[type="email"] {
    flex: 3 1 auto;
}

input[type="submit"] {
    flex: 1 0 auto;
    background-color: orange;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.features {
    color: white;
    background-color: rgb(110, 0, 0);
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature {
    margin-bottom: 4em;
    padding: 0 1em;
}

.feature-title {
    margin-bottom: .5em;
    font-size: 1.5rem;
    text-align: left;
}

.feature-description {
    text-align: left;
}

@media screen and (min-width: 30em) {
    .feature-description {
        width: 30em;
    }
}

.how-it-works {
    padding-top: 48px;
    background-color: rgb(155, 49, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: 3px solid rgb(116, 37, 0);
}

.pricing {
    display: flex;
    background: rgb(194, 103, 0) url("images/bg-pricing-violin.jpg") center/cover no-repeat;
}

.items {
    padding-top: 48px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    max-width: 14em;
    padding: 2em 2em .5em 2em;
    margin: 1em;
    color: white;
    background-color: rgba(51, 51, 51, 0.712);
}

.item-name {
    font-weight: bold;
    padding: 1em;
    color: black;
    background-color: lightgray;
}

.price {
    margin: 1em 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.select {
    margin: 1em 0;
    background-color: orange;
    width: 100%;
    padding: 0.5em 0;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    text-align: right;
    color: white;
    background-color: black;
    padding-bottom: 1em;
}

footer .nav-list {
    justify-content: flex-end;
    margin-bottom: 5px;
}
