@import url("common.css");


/* || General styles */

.capped-width {
    padding-left: 1em;
    padding: 0 1em;
    margin-left: revert;
}

@media screen and (min-width: 35em) {
    .capped-width {
        margin-left: 14em;
    }
}

em {
    font-style: italic;
}


/* || Navigation */

nav {
    display: none;
}

@media screen and (min-width: 35em) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 14em;
        height: 100%;
        padding: 1em 0 0 1em;
        background-color: black;
        color: white;
        display: revert;
    }
}

header {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    margin-bottom: .5em;
}


/* || Main content */

h1 {
    font-size: 2rem;
    margin: 1em 0;
}

h2 {
    font-size: 1.5rem;
}


section {
    font-size: large;
    line-height: 1.5;
    margin-bottom: 3em;
}

p, ul {
    margin-bottom: 1em;
}

pre, code {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: small;
}

main ul li {
    list-style-type: disc;
    margin: 0 2em;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}
