@import url("common.css");

body {
  background: darkgray url("images/bg-borlaug-dark.jpg") center/cover no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 3.5rem;
  font-weight: lighter;
  margin-top: 0.25em;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
  padding-top: 1em;
  padding-bottom: 1em;
}

main {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

figcaption {
  padding-top: 0.5em;
}

a {
  min-height: 48px;
  min-width: 48px;
}

strong {
  font-weight: bolder;
}

.timeline {
  margin-top: 1em;
  padding: 1em;
  background-color: rgba(50, 50, 50, 0.65);
}

.timeline ul {
  text-align: left;
  line-height: 1.8em;
}

.timeline ul li {
  padding-bottom: 1em;
}

#tribute-info {
  padding-bottom: 2em;
}

.tribute ul {
  display: flex;
  justify-content: center;
  margin: 3em auto 1em;
}

@media screen and (max-width: 540px) {
  .tribute ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em auto 1em;
  }

  .tribute li {
    margin-bottom: .5em;
  }
}

a.tribute-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: .5em;
  margin: 0 .5em 0;
  background-color: black;
  color: white;
  text-decoration: none;
}

a.tribute-link:hover {
  background-color: gray;
}
