body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 12.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}

#header {
    width: 100%;
    text-align: center;
    background-color: black;
    position: fixed;
    top: 0;
}

.nav-link {
    display: block;
    color: white;
    padding: 0.5em 0;
    margin: 0 1em;
    text-decoration: none;
}

#header-img {
    max-width: 100%;
    height: auto;
}

#form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    margin-top: 1em;
    margin-bottom: 0.75em;
    width: 75%;
    height: 1.5em;
}

#submit {
    width: 35%;
    height: 2em;
    background-color: orange;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
}

#features {
    margin: 4em 2em 1em;
}

#features li {
    padding: 1em 1em 1em;
    margin-bottom: 3em;
    text-align: center;
    line-height: 1.5em;
}

.feature {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.5rem;
    text-align: center;
}

#how-it-works {
    margin-bottom: 5em;
}

#pricing {
    width: 100%;
    text-align: center;
}

#pricing li {
    /* display: block; */
    /* padding: 1em; */
    margin: 1em 5em;
    border: 1px solid black;
}

.item {
    font-weight: bold;
    padding: 1em 0;
    margin-bottom: 1em;
    background-color: lightgray;
}

.price {
    margin: 1em 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.select {
    margin: 1em 0;
    background-color: orange;
    width: 50%;
    padding: 0.5em 0;
    cursor: pointer;
    border: none;
}

@media (max-width: 600px) {
    p {
        color: red;
    }
}

footer {
    text-align: right;
    margin-top: 2em;
    padding: 1em 1em 1em;
    background-color: lightgray;
}

footer li {
    display: inline;
}